@font-face {
  font-family: "HP";
  src: local("HP"), url(../../assets/potter/HP_Font.TTF) format("opentype");
}

.spotifyArea {
  flex: 6;
  background-color: #ececec;
}

.spotifyArea-container {
  background: url("https://cdn.wallpapersafari.com/47/3/tn8LUa.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
}

.spotifyArea-containerButton {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.spotifyArea-.dropdown {
  position: relative;
  display: inline-block;
}

.spotifyArea-btn {
  background-color: #46464c;
  color: white;
  padding: 10px 16px 10px 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.spotifyArea-btn:hover,
.spotifyArea-btn:focus {
  background-color: #80818A;
}

.spotifyArea-btnPattern {
  text-align: center;
  background-color: #b2babb;
  color: black;
  cursor: initial;
  font-size: 14px;
}

.spotifyArea-btnContent {
  background: white;
  color: color;
  cursor: pointer;
  padding: 10px 2px 10px 2px;
  transition: 0.3s;
}

.spotifyArea-btnContent:hover {
  background-color: #ddd;
}

.spotifyArea-AreaListContainer {
  border: 2px solid #242424;
  border-radius:10px;
  padding: 10px;
  background-color: #D3D3D3;
  margin-left: 2px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-block;
}

.spotifyArea-Title {
  font-size: 20px;
  color: #2980b9;
  margin-bottom: 20px;
}

.spotifyArea-AreaListContent {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spotifyArea-searchButton {
  outline: none;
  padding: 10px 60px;
  border: none;
  margin-bottom: 20px;
  background: rgba(101, 101, 101, 0.85);
  color: white;
  border: 1px solid rgba(101, 101, 101, 0.85);
}
.spotifyArea-searchButton:hover {
  border: 1px solid #fbbc05;
}

/* Register button */
.spotifyArea-sendButton {
  padding: 10px 20px;
  border: none;
  background: white;
  margin-bottom: 20px;
}

.spotifyArea-sendButton:hover {
  background: #fbbc05;
}

.spotifyArea-newArea {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
}

.spotifyArea-newAreaContainer {
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
}

.spotifyArea-newAreaContent {
  background-color: #46464C;
  padding: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-block;
  border-radius: 10px;
  margin-right: 4px;
}

.spotifyArea-newAreaDelete {
  background-color: #FEF7F9;
  padding: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
  display: inline-block;
  border: 2px solid #242424;
  border-radius: 10px;
}

.spotifyArea-newAreaDelete:hover {
  background-color: #E2AF9C;
}

.spotifyArea-AreaTest {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.spotifyArea-Area {
  background-color: #A5A5AF;
  border: 2px solid #242424;
  border-radius: 10px;
  padding: 20px 60px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  display: inline-block;
}

.spotifyArea-titleButton {
  outline: none;
  padding: 10px 60px;
  border-radius: 10px;
  border: none;
  margin-bottom: 20px;
  background: rgba(70, 70, 76, 0.85);
  color: white;
  border: 1px solid rgba(70, 70, 76, 0.85);
}
.spotifyArea-titleButton:hover {
  border: 1px solid #fbbc05;
}


.spotifyArea-Title {
  font-size: 30px;
  font-family: HP;
  text-shadow: 2px 2px 2px black, 2px 2px 2px black, 2px 2px 2px black,
  2px 2px 2px black, 2px 2px 2px black, 2px 2px 2px black, 2px 2px 2px black;
  color: #ffb41e;
  margin-bottom: 14px;
}

.spotifyArea-span {
  align-items: center;
  justify-content: center;
  position: relative;
  display: flex;
}